.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--dark-bg);
  font-family: var(--font-family-sans);
}

.app-body {
  flex: 1;
  display: flex;
  overflow: hidden;
}
